<!DOCTYPE html>
<html>
  <head>
      <title>Pannello di controllo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aggiungi post</h1>
    <div id="container">
    	<h2>Titolo</h2>
      <% if(obj === null) { %>
            <input id='titolo' />
       <% }
        else { %>
            <input id='titolo' value='<%= obj.titolo %>' />
       <% } %>
      <h2>Testo</h2>
      <%  if(obj === null){ %>
             <textarea id="testo"></textarea>
          <% }
          else{ %>
              <textarea id="testo"><%= obj.testo %></textarea>
          <% } %>
      <h2>Categoria</h2>
      <!-- get a list of category, need implementation -->

    </div>
  </body>
</html>
