<% include ../commons/head.ejs %>
  <body>
    <h1><%= title %></h1>
    <div id="container">
    	<h2>Titolo</h2>
            <input id='titolo' name='titolo' />
      <h2>Testo</h2>
            <textarea id="testo" name="testo"></textarea>

     <h2>Tag</h2>
          <input id="tag" name="tag" />
     <button id="create" name='create'>Crea</button>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='/js/dashboardArticles.js'></script>
  </body>
</html>
