<% include ../commons/head %>
        <div class="container">
        <% include ../commons/navbar %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"><%= title %></h1>
                </div>
                <div class="panel-body">
                    <p><%- articolo %></p>
                </div>
                <div class="panel-footer">
                    <p class="text-right">Autore: <%= autore %></p>
                    <p class="text-right">Tag: <% for(var i=0; i < tag.length; i++) { %> <span class="label label-default"><%= tag[i] %></span> <% } %></p>
                </div>
            </div>
        </div>
<% include ../commons/footer %>
