<% include /commons/head.ejs %>
  <body>
      <h1><%= title %></h1>
      <%if (errore.length > 0) { %> <h3><%= errore %></h3> <% } %>
      <form method='POST' action='/login'>  
        <table>
          <tr>
            <td><label>Nick:</label></td>
            <td><input type='text' name='nick'/></td>
          </tr>        
          <tr>
            <td><label>Password:</label></td>
            <td><input type='password' name='pass'/><br/></td>
          </tr>
          <tr>
            <td><input type='submit' name='send' value='SignIn'/></td>
          </tr>
        </table>
        
      </form>
  </body>
</html>
