<!DOCTYPE html>
<html>
  <head>
      <title><%= namesite %> - <%= title %></title>
      <base href="<%= base %>" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="container">
    	<h2>Titolo</h2>
            <input id='title' name='title' />
      <h2>Descrizione</h2>
            <textarea id="descr" name="descr"></textarea>
        <br />
        <button id="create" name='create'>Aggiungi Categoria</button>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='/javascript/dashboardCategories.js'></script>
  </body>
</html>
